<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
     <uses-permission android:name="android.permission.VIBRATE"/>
     <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Audion"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Audion.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:theme="@style/Theme.Audion"
            android:exported="true">
        </activity>

        <!-- New Onboarding Flow Activities -->
        <activity
            android:name=".OnboardingCarouselActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:exported="false">
        </activity>

        <activity
            android:name=".WhatsYourNameActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
        </activity>

        <activity
            android:name=".StartTestActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:exported="false">
        </activity>

        <activity
            android:name=".PureToneIntroActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:exported="false">
        </activity>

        <activity
            android:name=".NameActivity"
            android:theme="@style/Theme.Audion"
            android:windowSoftInputMode="adjustPan"
            android:exported="false">
        </activity>

          <activity android:name=".UserCreationActivity" 
          android:windowSoftInputMode="adjustResize"/>


          <activity android:name=".CaptionActivity" 
          android:windowSoftInputMode="adjustResize"/>

          <activity android:name=".HomeActivity" />

          <activity
              android:name=".PureToneTestActivity"
              android:theme="@style/Theme.MaterialComponents.NoActionBar"
              android:windowSoftInputMode="adjustResize" />



                <activity android:name=".FrequencyActivity" 
           android:windowSoftInputMode="adjustResize"/>

           

                <activity android:name=".AudiogramFragment" 
           android:windowSoftInputMode="adjustResize"/>



           
                <activity android:name=".GraphActivity" 
           android:windowSoftInputMode="adjustResize"/>

                           <activity android:name=".BaselineCalibrationActivity" 
           android:windowSoftInputMode="adjustResize"/>


                                      <activity android:name=".FrequencySweepActivity" 
           android:windowSoftInputMode="adjustResize"/>

           <activity android:name=".TestResultsActivity" 
           android:theme="@style/Theme.Audion.NoActionBar"
           android:windowSoftInputMode="adjustResize"/>

           <activity android:name=".TestCompletionSplashActivity" 
           android:theme="@style/Theme.Audion" />

           
                <activity android:name=".HelpActivity" 
           android:windowSoftInputMode="adjustResize"/>


                <activity android:name=".CalibrationRepo" 
           android:windowSoftInputMode="adjustResize"/>


           <activity android:name=".SettingsActivity" />
<activity 
    android:name=".CalibrationInstructionActivity"
    android:theme="@style/Theme.Audion.NoActionBar" />
<activity android:name=".CalibrationTestActivity" />
<!-- Refactored SeekBar-based calibration with stereo separation and MCL/UCL workflow -->
<activity 
    android:name=".CalibrationTestActivityRefactored"
    android:screenOrientation="portrait"
    android:theme="@style/Theme.Audion.NoActionBar"
    android:windowSoftInputMode="adjustResize" />
<activity android:name=".HearingProfileActivity" 
           android:windowSoftInputMode="adjustResize"
           android:theme="@style/Theme.Audion" />


                           <activity android:name=".NewProfileBottomSheet" 
           android:windowSoftInputMode="adjustResize"/>

           <activity android:name=".GeneralInstructionActivity" 
           android:windowSoftInputMode="adjustResize"/>
           
           <activity android:name=".EarResultActivity" 
           android:windowSoftInputMode="adjustResize"/>
           
           <activity android:name=".LeftEarInstructionActivity" 
           android:theme="@style/Theme.MaterialComponents.NoActionBar"
           android:windowSoftInputMode="adjustResize"/>
           <activity android:name=".RightEarInstructionActivity" 
           android:theme="@style/Theme.MaterialComponents.NoActionBar"
           android:windowSoftInputMode="adjustResize"/>


            <activity android:name=".VariationOneActivity" 
           android:windowSoftInputMode="adjustResize"/>

            <activity android:name=".VariationTwoActivity" 
           android:windowSoftInputMode="adjustResize"/>

            <activity android:name=".MusicPlayerActivity"/>
        <service android:name=".MusicPlayerService"/>

        <service
        android:name=".AudioStreamingService"
        android:exported="false"
        android:foregroundServiceType="mediaPlayback" />

        <service
        android:name=".SimpleAudioStreamingService"
        android:exported="false"
        android:foregroundServiceType="mediaPlayback" />

    
        <activity
        
            android:name=".MainActivity"
            android:exported="true" />

                    <activity
        
            android:name=".FocusActivity"
            android:exported="true" />

                <activity
            android:name=".EnrollmentActivity"
            android:exported="false"

            
            android:label="Speaker Enrollment" />



            

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>