<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
    android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
     <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:icon="@drawable/app_icon"
        android:roundIcon="@drawable/app_icon"
        
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Audion"
        tools:targetApi="31">
        <activity
            android:name="com.audion.app.SplashActivity"
            android:theme="@style/Theme.Audion.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.audion.app.OnboardingActivity"
            android:theme="@style/Theme.Audion"
            android:exported="true">
        </activity>

        <!-- New Onboarding Flow Activities -->
        <activity
            android:name="com.audion.app.OnboardingCarouselActivity"
            android:theme="@style/Theme.Audion.NoActionBar"
            android:exported="false">
        </activity>

        <activity
            android:name="com.audion.app.WhatsYourNameActivity"
            android:theme="@style/Theme.Audion.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
        </activity>

        <activity
            android:name="com.audion.app.StartTestActivity"
            android:theme="@style/Theme.Audion.NoActionBar"
            android:exported="false">
        </activity>

        <activity
            android:name="com.audion.app.PureToneIntroActivity"
            android:theme="@style/Theme.Audion.NoActionBar"
            android:exported="false">
        </activity>

        <activity
            android:name="com.audion.app.NameActivity"
            android:theme="@style/Theme.Audion"
            android:windowSoftInputMode="adjustPan"
            android:exported="false">
        </activity>

          <activity android:name="com.audion.app.UserCreationActivity" 
          android:exported="false"
          android:windowSoftInputMode="adjustResize"/>


          <activity android:name="com.audion.app.CaptionActivity" 
          android:exported="false"
          android:windowSoftInputMode="adjustResize"/>

          <activity android:name="com.audion.app.HomeActivity" 
          android:exported="false" />
          
          <activity 
              android:name="com.audion.app.MainNavActivity"
              android:exported="false"
              android:theme="@style/Theme.Audion.NoActionBar" />
          
          <activity 
              android:name="com.audion.app.ProfileActivity"
              android:exported="false"
              android:theme="@style/Theme.Audion.NoActionBar" />

          <activity
              android:name="com.audion.app.PureToneTestActivity"
              android:exported="false"
              android:theme="@style/Theme.Audion.NoActionBar"
              android:windowSoftInputMode="adjustResize" />



                <activity android:name="com.audion.app.FrequencyActivity" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"/>

           
                <activity android:name="com.audion.app.GraphActivity" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"/>

                           <activity android:name="com.audion.app.BaselineCalibrationActivity" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"/>


                                      <activity android:name="com.audion.app.FrequencySweepActivity" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"/>

           <activity android:name="com.audion.app.TestResultsActivity" 
           android:exported="false"
           android:theme="@style/Theme.Audion.NoActionBar"
           android:windowSoftInputMode="adjustResize"/>

           <activity android:name="com.audion.app.TestCompletionSplashActivity" 
           android:exported="false"
           android:theme="@style/Theme.Audion" />

           
                <activity android:name="com.audion.app.HelpActivity" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"/>


                <activity android:name="com.audion.app.CalibrationRepo" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"/>


           <activity android:name="com.audion.app.SettingsActivity" 
           android:exported="false" />
<activity 
    android:name="com.audion.app.CalibrationInstructionActivity"
    android:exported="false"
    android:theme="@style/Theme.Audion.NoActionBar" />
<activity android:name="com.audion.app.CalibrationTestActivity" 
    android:exported="false" />
<!-- Test Completion Animation Screen -->
<activity 
    android:name="com.audion.app.TestCompletionActivity"
    android:exported="false"
    android:screenOrientation="portrait"
    android:theme="@style/Theme.Audion.NoActionBar" />
<!-- Refactored SeekBar-based calibration with stereo separation and MCL/UCL workflow -->
<activity 
    android:name="com.audion.app.CalibrationTestActivityRefactored"
    android:exported="false"
    android:screenOrientation="portrait"
    android:theme="@style/Theme.Audion.NoActionBar"
    android:windowSoftInputMode="adjustResize" />
<activity android:name="com.audion.app.HearingProfileActivity" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"
           android:theme="@style/Theme.Audion" />


           <activity android:name="com.audion.app.GeneralInstructionActivity" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"/>
           
           <activity android:name="com.audion.app.EarResultActivity" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"/>
           
           <activity android:name="com.audion.app.LeftEarInstructionActivity" 
           android:exported="false"
           android:theme="@style/Theme.Audion.NoActionBar"
           android:windowSoftInputMode="adjustResize"/>
           <activity android:name="com.audion.app.RightEarInstructionActivity" 
           android:exported="false"
           android:theme="@style/Theme.Audion.NoActionBar"
           android:windowSoftInputMode="adjustResize"/>


            <activity android:name="com.audion.app.VariationOneActivity" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"/>

            <activity android:name="com.audion.app.VariationTwoActivity" 
           android:exported="false"
           android:windowSoftInputMode="adjustResize"/>

            <activity android:name="com.audion.app.MusicPlayerActivity"
            android:exported="false"/>
        <service 
            android:name="com.audion.app.MusicPlayerService"
            android:exported="false"/>

        <service
        android:name="com.audion.app.AudioStreamingService"
        android:exported="false"
        android:foregroundServiceType="microphone|mediaPlayback" />

        <service
        android:name="com.audion.app.SimpleAudioStreamingService"
        android:exported="false"
        android:foregroundServiceType="microphone|mediaPlayback" />

    
        <activity
        
            android:name="com.audion.app.MainActivity"
            android:exported="false" />

                    <activity
        
            android:name="com.audion.app.FocusActivity"
            android:exported="false" />

                <activity
            android:name="com.audion.app.EnrollmentActivity"
            android:exported="false"

            
            android:label="Speaker Enrollment" />



            

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>